

*
{
	margin: 0 0 0 0;
	font-family: arial;
}



#bg

{ 
	background-size: contain;
	min-width: 100%;
	min-height: 100%;
	background-repeat: no-repeat;
	color: grey;
	float: left;
	/*float: left;*/

}


#bgc
{
	height: 660px;
	width: 100%;
	background-color: black;
	position: absolute;
	opacity: 0.1;
	transition: opacity .2s ease-in-out;
}

.links
{
	
	margin-top: -590px;
	margin-left:50%;
	font-family: arial;
	font-size: 20px;
	color: red;
	opacity: 0.9;
	float: left;
	/*position: absolute;*/
}


.links li
{
	list-style-type: none;
	text-transform: uppercase;
	padding-left: 25px;

	text-decoration: none;
	color: white;
	float: left;
	cursor: pointer;

}

a
{
	text-decoration: none;

}



.sidebar

{

	width: 0%;
	height: 250px;
	margin-top: -530px;
	margin-left: 31.5%;
	background-color: black;
	position: fixed;
	float: right;
	transition: width 0.5s ease-in-out;
	

}


.close
{
	height: 120px;
	margin-top: 5%;
	width: 70px;
	background-color: #fc5223;
	position: absolute;
	visibility: hidden;
	transition: 0.3s ease-in-out;
	cursor: pointer;



}

.t
{
	color: white;
	font-size: 15px;
	/*font-weight: bold;*/
	font-family: arial;
	text-transform: uppercase;
	vertical-align: 25px;
	margin-top: 35px;
	text-align: center;
	
}


#form input
{
	width: 250px;
	height: 30px;
	margin-left: 25px;
	margin-top: 25px;
	transition: visibility 0.2s ease-in-out;
	

}


#form
{
	width: 600px;
	height: 400px;
	margin-left: 140px;
	margin-top: 13px;
	visibility: hidden;
	transition: visibility 0.1s ease-in-out;
	

}

.gtst

{
	height: 25px;
	width: 148px;
	color: white;
	background-color: #fc5223;
	margin-top: 7%;
	margin-left: 35%;
	font-size: 15px;
	transition: 0.2s ease-in-out;
	cursor: pointer;

}

.gtst:hover
{
	background-color: grey;
	transition: background-color 0.5s ease-in-out
}
.r

{

	/*margin-top: 12px;*/
	padding-top: 1.5%; 

	padding-left: 6%;


}


/*.sidenav .close

{
	position: absolute;
}*/


.open
{
	height: 120px;
	margin-top: -37%;
	width: 70px;
	background-color: #fc5223;
	position: absolute;
	margin-left: 95%;
	cursor: pointer;
	

}

.b
{
	color: white;
	font-size: 15px;
	/*font-weight: bold;*/
	font-family: arial;
	text-transform: uppercase;
	vertical-align: 25px;
	margin-top: 35px;
	text-align: center;
	
}